.wrapper {
    display: flex;
    width: 539px;
    height: 690px;
    margin-bottom: 30px;
    justify-content: center;
}
.video {
    border-radius: 20px;
    width: 388px;
    height: 100%;
    object-fit: cover;
}
