.wrapper {
    margin-top: 18px;
    margin-left: 12px;
}
.header {
    font-size: 1.5rem;
    color: rgb(22, 24, 35, 0.6);
}
.accounts {
    margin-top: 10px;
}

.separator {
    max-width: 356px;
    height: 1px;
    background-color: rgba(22, 24, 35, 0.06);
    margin-bottom: 20px;
}
